---
layout: bootcamp
root: .
venue: University of Melbourne
address: <a href="http://maps.unimelb.edu.au/parkville/building/149">Collaborative Learning Space 4 (room 116), Old Arts</a>
country: Australia
humandate: Aug 18, 25 & 27, 2014
humantime: 9:00 am - 5:00 pm
startdate: 2014-08-18
enddate: 2014-08-27
latlng: -37.7963,144.9614
registration: unrestricted
instructor: ["Damien Irving", "Scott Kolbe", "Katie Ewing", "Bernard Meade"]
contact: d.irving@student.unimelb.edu.au
---


<h2>Matlab Bootcamp</h2>

<p>
  Researchers spend much of their time wrestling with software, but most
  are self-taught programmers. As a result, they spend hours doing things that
  should take minutes, reinvent a lot of wheels, and still don't know if their
  results are reliable. To tackle this problem, an international volunteer organisation
  known as <a href="http://software-carpentry.org">Software Carpentry</a> has been
  running <a href="http://software-carpentry.org/bootcamps/">bootcamps</a> for a number
  of years now, teaching basic lab skills for computing like program design, version
  control, data management and task automation. With support from the
  <a href="https://its.unimelb.edu.au/research">ITS Research Services</a> department,
  <a href="https://github.com/resbaz/hackerwin">The Hacker Within</a> student group has
  been running Software Carpentry bootcamps at the University of Melbourne since 2013.
  This bootcamp will be the first ever Matlab bootcamp in Australia and only
  the third to be hosted anywhere in the world.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}} (instructors and helpers should indicate their 
  availability <a href="http://doodle.com/i76am5zmdrmxytde">here</a>)
</p>
{% endif %}

<p>
  <strong>Who:</strong>
  This bootcamp is open to any postgraduate students, post-docs and other researchers who have a basic
  familiarity with programming concepts like loops, conditionals, and arrays, but need
  help to translate this knowledge into practical tools to help them work more productively.
  Participation is not restricted to University of Melbourne people - we'd love to see
  many institutions represented.
</p>

<p>
  <strong>Where and when:</strong>
  <a href="http://maps.unimelb.edu.au/parkville/building/149">Collaborative Learning Space 4</a>
  (room 116) in the Old Arts building at the University of Melbourne. The first session (Mon 18 Aug) 
  will be a full day (9:00am - 5:00pm), while the second (Mon 25 Aug) and third (Wed 27 Aug) sessions
  will be in the afternoon (1:30 - 5:00pm).
</p>

<p>
  <strong>Registration:</strong>
  All participants are required to register at the
  <a href="https://www.eventbrite.com.au/e/university-of-melbourne-matlab-software-carpentry-bootcamp-registration-11630510169">Eventbrite page</a>.
  The registration process involves a 5-minute questionnaire about your previous programming experience,
  so that we can tailor the teaching materials to the knowledge of the audience.
</p>

<p>
  <strong>Requirements:</strong>
  Participants are asked to bring their laptop with some specific software packages
  installed and access to either the UniWireless or Eduroam wifi networks (see the setup
  instructions below for details). If you don't have a laptop, that's completely fine.
  We'll pair you up with someone who does.
</p>

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>
<p>
  As mentioned above, we're spreading the content of the typical two-day bootcamp 
  over three sessions (it's tough to find an appropriate room during semester!). The following
  is an outline of what will be taught. During the bootcamp, additional notes on the
  teaching materials will be available at the bootcamp
  <a href="https://etherpad.mozilla.org/swc-matlab">Etherpad</a>.
</p>

<p>
  <strong>Week 1: Programming basics</strong><br />
  <em>Monday 18 August, 9:00am-5:00pm</em><br />
  Have you ever wondered how professional programmers write code? In this session
  you'll learn the common tricks of the trade, via an introduction to programming
  with Matlab. Functions, defensive programming, error handling, debugging and
  unit testing are just some of the topics covered in this session.
  <br /><br />
  
  <strong>Week 2: Managing your code and data</strong><br />
  <em>Monday 25 August, 1:30-5:00pm</em><br />
  <em>Wednesday 27 August, 1:30-5:00pm</em><br />
  Now that you've got a handle on the basics of programming, you're going to want
  to manage your code and data effectively. This session starts with
  an introudction to the unix shell, which is the fundamental tool
  for managing such tasks. You'll then learn how to save yourself time and
  heartache by using version control to backup code and high
  performance computing to speed it up.
  <br /><br />
  

</p>

<hr/>


<h2>Setup</h2>

<p>
  Prior to the bootcamp, University of Melbourne staff/students should ensure that their laptop can connect
  to UniWireless. Instructions on how to do this and where to get assistance can be found
  <a href="https://its.unimelb.edu.au/help/networks-access/networks-internet/connect-wireless/unimelb">here</a>.
  Attendees from other Australian universities should find out (from the IT website of
  their home institution) how to connect to the Eduroam wireless network.
</p>
<p>
  Besides a working wifi connection, you will also need working copies of the
  software described below. Please make sure to install everything <em>before</em> the
  start of the bootcamp.
</p>

{% include setup.html %}
