<h3>Bash shell</h3>
<p>
  Bash is a commonly-used shell. Using a shell gives you
  more power to do more tasks more quickly with your
  computer.
</p>

<h4>Windows</h4>
<p>
  Install Git for Windows by downloading and running
  <a href="https://msysgit.googlecode.com/files/Git-1.8.4-preview20130916.exe">the installer</a>.
  This will provide you with both Git and Bash in the Git Bash program.
</p>

<h4>Mac</h4>
<p>
  The default shell in all versions of Mac OS X is bash,
  so no need to install anything. You access bash from
  the Terminal (found
  in <code>/Applications/Utilities</code>). You may want
  to keep Terminal in your dock for this workshop.
</p>

<h4>Linux</h4>
<p>
  The default shell is usually <code>bash</code>,
  but if your machine is set up differently
  you can run it by opening a terminal and typing <code>bash</code>.
  There is no need to install anything.
</p>

<h3>Git</h3>
<p>
  Git is a state-of-the-art version control system. It
  lets you track who made changes to what when and has
  options for easily updating a shared or public version of
  your code on <a href="https://github.com/">github.com</a>.
</p>

<h4>Windows</h4>
<p>
  See instructions for the bash shell above.
</p>

<h4>Mac</h4>
<p>
  Install Git for Mac by download and running
  <a href="http://git-scm.com/downloads">the installer</a>.
</p>

<h4>Linux</h4>
<p>
  If Git is not already available on your machine you can try
  to install it via your distro's package manager
  (e.g. <code>apt-get</code>).
</p>

<h3>Matlab</h3>

<p>
  Matlab is a very popular data analysis environment. It's a commercial product,
  however most universities provide free licences to their staff
  and students. University of Melbourne people can find instructions on
  how to install Matlab on their personal laptop 
  <a href="https://github.com/resbaz/lessons/blob/master/matlab/README.md">here</a>.
  Participants from other institutions should ask their IT department for assistance.
</p>

